# Environment
# Execution environment of the service (expected: TEST, DEV, PROD)
ENVIRONMENT=TEST

# Server Configuration
# Port on which the FastAPI service will run (default: 7778)
PORT=

# Application Configuration
RATE_LIMIT_ENABLED=true
AUTH_ENABLED=true
LLM_WEB_SEARCH_ENABLED=true

# Azure OpenAI Configuration (when _MODEL_PROVIDER=azure)
# Important to use 2024-10-21 or later.
OPENAI_API_VERSION="2025-04-01-preview"
# Your Azure endpoint, including the resource, e.g. `https://example-resource.azure.openai.com/`
# E.g.: https://openbb-ai-sandbox.openai.azure.com/
AZURE_OPENAI_ENDPOINT=
AZURE_OPENAI_API_KEY=

# Sowflake configuration
# SNOWFLAKE_HOST variable must be "{account-identifier}.snowflakecomputing.com"
#                i.e. ""
# When running as a Native App set all OPENBB_AGENT_OPENAI_API_KEY and OPENBB_EMBEDDING_API_KEY to "snowflake"
SNOWFLAKE_HOST=

# Enable both Python and SQL Snowflake service
SNOWFLAKE_NATIVE_APP=

# Model Provider Configuration
# _MODEL_PROVIDER can only be: openai, azure, snowflake
# _BASE_URL can be many OpenAI-compatible endpoints, for example:
#        - OpenAI: https://api.openai.com/v1
#        - OpenRouter: https://openrouter.ai/api/v1
#        - Snowflake: leave _BASE_URL blank.

# OpenAI Configuration
OPENBB_AGENT_MODEL_PROVIDER=openai
OPENBB_AGENT_OPENAI_BASE_URL=https://api.openai.com/v1
OPENBB_AGENT_OPENAI_API_KEY=
OPENBB_AGENT_MODEL_MAIN=gpt-4.1
OPENBB_AGENT_MODEL_SMALL=gpt-4.1-mini
OPENBB_AGENT_MODEL_VISION=gpt-4.1

# Embedding Model Configuration
OPENBB_EMBEDDING_MODEL_PROVIDER=openai
OPENBB_EMBEDDING_BASE_URL=https://api.openai.com/v1
OPENBB_EMBEDDING_API_KEY=
OPENBB_EMBEDDING_MODEL=text-embedding-3-small

# Search Model Configuration
OPENBB_SEARCH_PROVIDER=openai
OPENBB_SEARCH_BASE_URL=https://api.openai.com/v1
OPENBB_SEARCH_API_KEY=
OPENBB_SEARCH_MODEL=gpt-4.1

# API Keys
OPENBB_PAYMENTS_API_SECRET_KEY=
JINA_AI_API_KEY=

# Base URLs
JINA_AI_BASE_URL=https://r.jina.ai
OPENBB_PAYMENTS_BASE_URL=https://payments.openbb.dev

# OpenTelemetry Configuration
LOG_LEVEL=INFO
LOGFIRE_TOKEN=
OTEL_SDK_DISABLED=

# PostHog Configuration
POSTHOG_PROJECT_KEY=
POSTHOG_HOST_URL=

# OpenBB Testing Credentials
OPENBB_TEST_EMAIL=
OPENBB_TEST_PASSWORD=

# CORS Configuration
CORS_ORIGINS_LIST='["http://localhost:1420"]'
CORS_ORIGIN_REGEX=https://(.*\.cloudfront\.net|.*\.snowflakecomputing\.com)

# Redis Configuration
REDIS_HOST=redis
REDIS_PORT=6379

# Cache Configuration
USE_EXTRA_WIDGETS_CACHE=false
USE_DOCUMENT_CACHE=false
